@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

/* Section-one (Hero) styleing ST */

.section-one {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-sectoin {
  height: 100%;
  width: 90%;
}

/* Section-one_Nave-bar part styleing ST */

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nave-logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.nave-logo img {
  height: 60px;
}
.nave-logo h2 {
  color: #131318;
  font-size: 2.25rem;
  font-weight: 800;
  padding-left: 16px;
}
.nave-logo span {
  color: #FF5400;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 3.4vw;
  padding-right: 30px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #424247;
  font-size: 1.1rem;
}
#bar-icon {
  display: none;
}
nav a:hover {
  color: #FF5400;
  transition: 0.1s;
}

/*  Section-one_Nave-bar styleing end */

.hero-container {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg-image {
  height: 90%;
  width: 100%;
  background-image: url("Images/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.bg-liner {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.518), rgba(0, 0, 0, 0.164));
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-iner-contain {
  height: 100%;
  width: 90%;
  padding-top: 50px;
}
.hero-iner-contain h1 {
  color: #FFF;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}
.hero-iner-contain p {
  color: #FFF;
  text-align: center;
  font-size: 1rem;
  line-height: 26px;
  padding:10px 240px;
}

.hero-input {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-input {
  height: 40%;
  width: 80%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.30);
}

.info-input input {
  width: 175px;
  height: 50px;
  color: rgba(19, 19, 24, 0.50);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 8px;
}
.info-input select {
  width: 175px;
  height: 50px;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 8px;
  outline: none;
  color: rgba(19, 19, 24, 0.50);
}
.info-input button {
  width: 175px;
  height: 50px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #FF5400;
}
.info-input button:hover {
  background-color: #ec4f00;
}
.info-input button:active{
  background-color: #da4900;
}
.info-input button i {
  padding-right: 10px;
  font-size: 1.3rem;
  display: inline;
}


/* Section-one (Hero) styleing END */


/* Section-Two (Popular_Tours) styleing ST */

.section-two {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour-section {
  height: 90%;
  width: 90%;
  display: flex;
}

.tour-left-side {
  height: 100%;
  width: 50%;
  padding: 30px;
}
.tour-left-side h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.tour-left-side p{
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  line-height: 26px;
  padding: 20px 0;
}
.tour-left-side ul {
  padding-left: 20px;
}
.tour-left-side ul li{
  color: rgba(19, 19, 24, 0.70);
  font-size: 1rem;
  line-height: 26px;
}
.tour-left-side button {
  padding: 15px 35px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  background-color: #FF5400;
}
.tour-left-side button:hover {
  background-color: #ec4f00;
}
.tour-left-side button:active{
  background-color: #da4900;
}

.tour-right-side {
  height: 100%;
  width: 50%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popular-tour-image {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popular-tour-image img {
  height: auto;
  width: 100%;
}

/* Section-Two (Popular_Tours) styleing END */


/* Section-four (Why Choose Us) styleing ST */

.section-four {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.us-section {
  height: 90%;
  width: 90%;
}
.us-section h2 {
  color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding-top: 20px;
}
.description {
  color: rgba(19, 19, 24, 0.70);
  text-align: center;
  font-size: 1rem;
  line-height: 26px;
  padding: 30px 300px;
}

.details {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hotels {
  height: 100%;
  width: 40%;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}

.service {
  height: 100%;
  width: 40%;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.20);
  background: rgba(41, 206, 246, 0.05);
}

.guarantee-container {
  height: 50%;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.guarantee {
  height: 100%;
  width: 40%;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.20);
  background: rgba(233, 68, 68, 0.05);
}

.details-box i {
  font-size: 3rem;
  padding-left: 20px;
  padding-top: 20px;
}

.details-box h3 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 30px 0 30px 20px;
}

.details-box p {
  padding-left: 20px;
  padding-bottom: 20px;
  color: #5A5A5D;
  font-size: 1rem;
  line-height: 26px;
}


/* Section-four (Why Choose Us) styleing END */


/* Fooer Section styleing ST */

.footer-section {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(19, 19, 24, 0.05);
}

.footer-container {
  height: 80%;
  width: 60%;
}

.contain {
  text-align: center;
}

.contain > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain img {
  height: 40px;
}
.contain h2 {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
  padding-left: 10px;
}
.contain span {
  color: #FF5400;
}
.contain p {
  color: #5A5A5D;
  font-size: 1rem;
  line-height: 25px;
  padding: 30px 0;
}
.contain i {
  font-size: 2vw;
  padding: 0 10px 30px 0;
  cursor: pointer;
}

.reserved {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reserved-text {
  color: #131318;
  font-family: Inter;
  font-size: 1rem;
}

/* Fooer Section styleing END */

/* I Try My Best */

























@media screen and (max-width: 600px) {
  
  /* Responsive part of "Hero_Section" ST  */

  .nave-logo {
    padding-left: 10px;
  }
  .nave-logo img {
    height: 40px;
  }
  .nave-logo h2 {
    font-size: 1.5rem;
  }
  nav > ul {
    padding-right: 10px;
  }
  nav > ul > li {
    display: none;
  }
  #bar-icon {
    display: block;
    font-size: 1.5rem;
  }

  .hero-iner-contain {
    padding-top: 10px;
  }
  .hero-iner-contain h1 {
    font-size: 2.1rem;
  }
  .hero-iner-contain p {
    font-size: 1rem;
    padding: 10px;
  }

  .info-input {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  .hero-iner-contain p {
    padding-bottom: 50px;
  }

  .info-input input {
    width: 250px;
  }
  .info-input select {
    width: 250px;
  }

  /* Responsive part of "Hero_Section" END  */

  /* Responsive part of "Popular-Tours_section" ST  */

  .tour-section {
    flex-direction: column;
  }
  .tour-left-side  {
    height: 100%;
    width: 100%;
    padding: 10px;
  }
  .tour-left-side h2 {
    color: #131318;
    font-size: 1.8rem;
    font-weight: 800;
  }

  .tour-right-side {
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  /* Responsive part of "Popular-Tours_section" END  */

  /* Responsive part of "Why Choose Us" ST  */


  .section-four {
    margin-top: 200px;
  }

  .us-section h2 {
    color: #131318;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 800;
  }
  .description {
    padding: 10px 10px;
  }

  .details {
    flex-direction: column;
  }
  .hotels {
    height: 50%;
    width: 100%;
    margin-bottom: 30px;
  }
  .service {
    height: 50%;
    width: 100%;
  }
  .guarantee {
    height: 50%;
    width: 100%;
  }

  /* Responsive part of "Why Choose Us" END  */




















  /* Responsive part of "Footer" ST  */

  .footer-section {
    height: 40vh;
  }

  .footer-container {
    width: 90%;
  }

  .contain h2 {
    color: #131318;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .contain p {
    padding: 10px 0;
  }
  .contain i {
    font-size: 6vw;
  }

  .reserved  {
    height: 20%;
  }

  /* Responsive part of "Footer" END  */

}